<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
      <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="/about"></a>About</li>
        <li><a href="/contact"></a>Contact</li>
      </ul>
    </nav>
    <div class="header__button">
      <button>
         Logout
      </button>
    </div>
  </header>
  